:root {
  --bg-color: #fdfdfd; /* light mode background color */
  --transition-duration: 0.5s;
  --text-color: #202020; /* light mode text color */
  --link-color-light: #202020;
  --link-color-dark: white;
}

.dark-mode {
  --bg-color: #202020; /* dark mode background color */
  --text-color: #ffffff; /* dark mode text color */
}
.light {
  color: var(--link-color-light);
}

.dark {
  color: var(--link-color-dark);
}

.switch-container {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 10px;
  background-color: var(--light-mode-bg-color);
  transition: background-color var(--transition-duration);
}

.switch-container.dark-mode {
  background-color: var(--dark-mode-bg-color);
}
